<configuration>
  <connectionStrings>
    <add name="MyDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=ifmo2.database.windows.net;Initial Catalog=cw1;Integrated Security=False;User ID=s191696;Password=heliosnob401!;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
